body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* 
  EFECFE - light purple (selected date bg)
5541F7 - bottom gradiant purple (button color bottom )
8433F4 - top gradiant purple (button color top)
2E3A59 - light grey (text and search and left icons)
F2F5FF - light purple (bg of middle section )
D8DEF3 - smoke grey (menu dots) */