._monthYearLabel_ghqxn_50 {
    display: none;
  }
  
  ._button_ghqxn_7 {
    display: none;
  }
  
  ._dateDayItem_ghqxn_62 {
    padding: 12px 5px;
    border-radius: 25px !important;
    border: unset !important;
    /* add bg color if dont want   */
    /* background-color: #F2F5FF !important;  */
  }
  
  